[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
  	branch = master
[submodule "third_party/freetype"]
	path = third_party/freetype
  	url = https://gitlab.freedesktop.org/freetype/freetype.git
  	branch = master
[submodule "third_party/cjson"]
	path = third_party/cjson
	url = https://github.com/DaveGamble/cJSON.git
  	branch = master 
[submodule "website"]
	path = website
	url = https://github.com/YASSINE-AA/GooeyWebsite.git
  	branch = main 
[submodule "third_party/GLPS"]
	path = third_party/GLPS
	url = https://github.com/YASSINE-AA/GLPS.git
